.btn{
    padding: 12px 10px 10px;
    border: solid 1px #343a40;
    margin-right: 15px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 20px;
}
.btn-dark{
    background-color: #343a40;
    color: #fff;
}
.btn-white{
    background-color:#fff;
    color: #343a40;
}
.btn:hover{
    color: #fff;
    background-color: #1a1c20;
}