.btn{
    padding: 10px;
    padding-top: 12px;
    margin-right: 15px;
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
    border: solid 1px #343a40;
    border-radius: 20px;
}
.btn-dark{
    background-color: #343a40;
    color: #fff;
}
.btn-white{
    background-color: rgba(255,255,255, 0.8);
    color: #343a40;
}
.btn:hover{
    color: #fff;
    background-color: #1a1c20;
}