footer{
    background-color: #0a0b0b;
    padding: 2px 1px;
}
.footer{
    padding-left: 13%;
    padding-right: 13%;
    display: flex;
    justify-content: space-between;
}
.data{
    color: #fff;
    opacity: .8;
    padding: 5px;
}
.icons{
    padding: 10px;
    padding-right: 0;
}
.contact-icons{
    font-size: 1.6rem;
    margin-right: 20px;
}
.contact-icons:hover{
    color:#8f8f8f;
}