@font-face {
  font-family: "league-spartan";
  src: url("league-spartan/LeagueSpartan-Bold.otf");
}

@font-face {
  font-family: "jetbrains-mono";
  src: url("JetBrainsMono-2.001/ttf/JetBrainsMono-Bold.ttf");
}
  
body {
  margin: 0;
  font-family: "league-spartan", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  background-color: #1a1c20;
  color: #fff;
  opacity: 0.8;
}

.code{
  font-family: "jetbrains-mono";
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 400;
}